# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\lewis\OneDrive - University of East Anglia\Year 2\Networks\Documents\Coursework\Networks-VoIP-CW\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
